/* SPRITES:
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-banner_left {
    width: 22px;
    height: 40px;
    background-position: -10px -10px;
}

.sprite-banner_left {
    width: 22px;
    height: 40px;
    background-position: -10px -70px;
}

.sprite-banner_right {
    width: 22px;
    height: 40px;
    background-position: -10px -130px;
}

.sprite-banner_right {
    width: 22px;
    height: 40px;
    background-position: -10px -190px;
}

.sprite-icon_bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -250px;
}

.sprite-icon_bookmark {
    width: 14px;
    height: 16px;
    background-position: -10px -286px;
}

.sprite-icon_cart {
    width: 17px;
    height: 16px;
    background-position: -10px -322px;
}

.sprite-icon_cart {
    width: 17px;
    height: 16px;
    background-position: -10px -358px;
}

.sprite-icon_checkbox {
    width: 23px;
    height: 23px;
    background-position: -10px -394px;
}

.sprite-icon_checkbox {
    width: 23px;
    height: 23px;
    background-position: -10px -437px;
}

.sprite-icon_checkbox_checked {
    width: 27px;
    height: 23px;
    background-position: -10px -480px;
}

.sprite-icon_checkbox_checked {
    width: 27px;
    height: 23px;
    background-position: -10px -523px;
}

.sprite-icon_facebook {
    width: 10px;
    height: 18px;
    background-position: -10px -566px;
}

.sprite-icon_facebook {
    width: 10px;
    height: 18px;
    background-position: -10px -604px;
}

.sprite-icon_home {
    width: 15px;
    height: 12px;
    background-position: -10px -642px;
}

.sprite-icon_home {
    width: 15px;
    height: 12px;
    background-position: -10px -674px;
}

.sprite-icon_instagramm {
    width: 17px;
    height: 17px;
    background-position: -10px -706px;
}

.sprite-icon_instagramm {
    width: 17px;
    height: 17px;
    background-position: -10px -743px;
}

.sprite-icon_login {
    width: 20px;
    height: 17px;
    background-position: -10px -780px;
}

.sprite-icon_login {
    width: 20px;
    height: 17px;
    background-position: -10px -817px;
}

.sprite-icon_phone {
    width: 19px;
    height: 19px;
    background-position: -10px -854px;
}

.sprite-icon_phone {
    width: 19px;
    height: 19px;
    background-position: -10px -893px;
}

.sprite-icon_radio_checked {
    width: 25px;
    height: 25px;
    background-position: -10px -932px;
}

.sprite-icon_radio_checked {
    width: 25px;
    height: 25px;
    background-position: -10px -977px;
}

.sprite-icon_right {
    width: 8px;
    height: 12px;
    background-position: -10px -1022px;
}

.sprite-icon_right {
    width: 8px;
    height: 12px;
    background-position: -10px -1054px;
}

.sprite-icon_search {
    width: 17px;
    height: 17px;
    background-position: -10px -1086px;
}

.sprite-icon_search {
    width: 17px;
    height: 17px;
    background-position: -10px -1123px;
}

.sprite-icon_user {
    width: 20px;
    height: 18px;
    background-position: -10px -1160px;
}

.sprite-icon_user {
    width: 20px;
    height: 18px;
    background-position: -10px -1198px;
}

.sprite-icon_vk {
    width: 20px;
    height: 12px;
    background-position: -10px -1236px;
}

.sprite-icon_vk {
    width: 20px;
    height: 12px;
    background-position: -10px -1268px;
}

 */

body {
    font-size: 17px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    color: black;
    line-height: 24px;
    min-width: 940px;
}

main {
  background: #ffffff;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

span {
  display: inline-block;
  margin-top: 5px;
  padding-left: 15px;
}

li {
  display: inline;
}

a {
text-decoration: none;
color: inherit;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.main_header {
  background: #f1f5f7;
}

.header_layout {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.to_start_page_header {
  background: #ee3643;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 9px;
  padding-left: 55px;
}

.search {
  width: 270px;
    /* сделал здесь фиксированную ширину, потому что форма поиска не доделана и когда я ее изменю все поедет */
  box-sizing: border-box;
  padding: 0 10px;
}

.bookmark {
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 30px;
}

.cart {
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 32px;
}

.cart_filled {
  background: #ee3643;
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 27px;
}

.checkout_link {
  background: #63a63e;
  color: white;
  padding-left: 19px;
  padding-top: 9px;
  padding-right: 22px;
}

.shop_description {
  font-size: 16px;
  font-style: italic;
  color: #ee3643;
  padding-top: 30px;
  padding-left: 53px;
  padding-right: 70px;
}

.contact {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 66px;
}

.telefon {
  display: block;
  color:  #ee3643;
  margin-top: 50px;
  margin-left: 50px;
    /* здесь margin вместо padding'a чтобы ссылка с телефоном занимала только свое пространство */
  font-size: 21px;
}

.user_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}

.user_block_active {
  display: flex;
  flex-wrap: wrap;
  width: 294px;
  font-size: 21px;
}

.name {
  padding-top: 35px;
  padding-left: 45px;
  margin-bottom: 0px;
}

.my_orders {
  font-size: 16px;
  padding-left: 15px;
  text-decoration: underline;
}

.personal {
  font-size: 16px;
  padding-left: 33px;
  text-decoration: underline;
}

.login {
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-right: 10px;
  margin-left: 14px;
}

.registration {
  padding-top: 5px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.main_navigation {
  background: #32425c;
  width: 940px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  color: white;

}

.main_navigation ul {
  padding: 1px;
  margin: 1px;
}

.nav_to_main  {
  padding-left: 52px;
  padding-right: 35px;
}

.nav_to_company {
  padding-left: 27px;
  padding-right: 25px;
}

.nav_to_catalog {
  padding-left: 32px;
  padding-right: 25px;
}

.nav_to_news {
  padding-left: 32px;
  padding-right: 25px;
}

.nav_to_propositions {
  padding-left: 29px;
  padding-right: 25px;
}

.nav_to_delivery {
  padding-left: 30px;
  padding-right: 25px;
}

.nav_to_contacts {
  padding-left: 35px;
  padding-right: 45px;
}

.main_navigation ul a {
  padding-top: 18px;
  padding-bottom: 18px;
}

footer {
  background: #32425c;
}

.footer_layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_left {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.to_start_page_footer {
  background: #ee3643;
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 17px;
  padding-left: 40px;
}

.footer_contacts {
  white-space: nowrap;
  font-size: 18px;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 5px;
  color: white;
}

.footer_contacts p {
  margin-bottom: 0px;
}

.footer_copyright {
  font-size: 16px;
  margin-top: 70px;
  color: white;
}

.footer_copyright p {
  margin-bottom: -30px;
}

.footer_right {
  display: flex;
  flex-wrap: wrap;
}

.footer_navigation_1 {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  color: white;
}

.footer_navigation_1 ul li {
  padding-right: 54.4px;
}

.footer_navigation_2 {
  font-size: 18px;
  width: 522px;
  margin-top: 18px;
  margin-left: 75px;
  display: flex;
  justify-content: space-between;
  color: #ffd180;
}

.footer_social {
  margin-left: 120px;
  margin-top: 120px;
  margin-right: 120px;
}

.social_btn {
  width: 40px;
  height: 40px;
}

.feedback {
  font-size: 15px;
  margin-top: 108px;
  margin-right: 58px;
  color: white;
}

.feedback a {
  display: block;
  margin-top: -5px;
}


.made_by {
  font-size: 15px;
  margin-top: 108px;
  color: white;
}

.made_by  a {
  display: block;
  margin-top: -5px;
}

/* index.html  */

.red_btn {
  color: white;
  background: #ee3643;
}

.main_top {
  padding-bottom: 85px;
}

.banners {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
}

.banner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 123px;
  width: 300px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  padding-left: 23px;
  box-sizing: border-box;
}

.banner:nth-child(1), .banner:nth-child(6) {
  background: #f6b22d;
}

.banner:nth-child(2) {
  background: #4aafde;
}

.banner:nth-child(3) {
  background: #cc79d1;
}

.banner:nth-child(4) {
  background: #85d179;
}

.banner:nth-child(5) {
  background: #85d179;
}


.banner h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.banner_link {
  font-size: 13px;
  background-color: gold;
  margin-left: 10px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 20px;
  text-align: 30px;
  text-transform: uppercase;
}

.banner:nth-child(2), .banner:nth-child(3), .banner:nth-child(5) {
  margin-left: 20px;
}

.slider {
  height: 266px;
  width: 620px;
  background-color: green;
}

.slider_item {
  visibility: hidden;
}

.banner:nth-child(6) {
  margin-top: -123px;
}

.banner:nth-child(1), .banner:nth-child(2), .banner:nth-child(3) {
  margin-top: 61px;
}

.products_start {
  background: #f7f3ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: 33px;
  margin-bottom: 14px;
}

.popular_products_title {
  color: #32425c;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 29px;
  padding-bottom: 15px;
}

.popular_products_link {
  font-size: 14px;
  margin-right: 25px;
  margin-left: auto;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-right: 55px;
  padding-left: 55px;
}

.popular_products {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.product {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 318px;
  width: 220px;
}

.to_product_picture {
  margin-top: 9px;
}

.to_product_title {
  font-size: 21px;
  line-height: 0;
}

.to_product_title span {
  font-size: 20px;
  padding-left: 42px;
}

.price_n_buy {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.price_n_buy s {
  margin-bottom: 11px;
}

.price_n_buy_spec {
  font-size: 20px;
  padding-top: 40px;
}

.buy_btn {
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 3px;
  padding-left: 35px;
}

.manufacture_start {
  background: #f7f3ec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: 20px;
  margin-bottom: 14px;
}

.manufacture_title {
  color: #32425c;
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 27px;
  padding-bottom: 15px;
}

.manufacture_link {
  font-size: 14px;
  margin-right: 25px;
  margin-left: auto;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-right: 69px;
  padding-left: 55px;
}

.manufacture {
  display: flex;
  flex-wrap: wrap;
  height: 310px;
  width: 940px;
  flex-shrink: 0;
}

.to_manufacture {
  height: 145px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to_manufacture:nth-child(4), .to_manufacture:nth-child(8) {
  margin-right: 0px;
}

.main_middle {
  background: #f2f6f8;
  padding-top: 10px;
  padding-bottom: 100px;
}

.services {

  padding-top: 40px;
}

.services_title  {
  margin-bottom: 30px;
}

.services_description {
  font-size: 15px;
  padding-right: 520px;
}

.tabs {
  display: flex;
  justify-content: flex-start;
}

.service_icon {
  display: none
}

.tab_right {
  display: none
}

.tab_list_left {
  background-color: teal;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 53px;
}

.tab_left {
   font-size: 22px;
   padding-top: 15px;
   padding-right: 140px;
   padding-bottom: 17px;
   padding-left: 7px;
}

.tab_list_right {
  display: flex;
}

.active_tab_right {
  padding-left: 80px;
  padding-top: 32px;
  display: block;
}

.tab_right h2 {
  font-size: 34px;
  margin-bottom: 35px;
}

.tab_right p {
  font-size: 14.5px;
  padding-right: 280px;
}

.main_bottom {
  padding-top: 10px;
  padding-bottom: 90px;
}

.about_us {
  display: flex;
}

.about_us_left {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-top: 47px;
  padding-right: 100px;
}

.about_us_left h3 {
  text-transform: uppercase;
  font-size: 28.5px;
  margin-bottom: 15px;
}

.about_us_left p {
  font-size: 14.5px;
  margin-bottom: 1px;
}

.about_us_left span {
  font-size: 14.5px;
  padding-left: 0px;
  padding-top: 15px;
  margin-bottom: -15px;
}

.delivery_partners {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.delivery_partners li {
  padding-top: 15px;
}

.about_us_link {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 25px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.about_us_right {
  padding-top: 45px;
  padding-left: 33px;
  display: flex;
  flex-flow: column;
}

.about_us_right h3 {
  text-transform: uppercase;
  font-size: 28.5px;
  margin-bottom: 15px;
}

.about_us_right p {
  font-size: 14.5px;
  margin-bottom: 1px;
}

.map {
  padding-top: 30px;
}

.are_u_lost_link {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 35px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 63px;
}

/* catalog.html */

.breadcrumbs ul {
  display: flex;
  justify-content: space-between;
  width: 320px;
  text-transform: uppercase;
  font-size: 15.5px;
  margin-top: 12px;
  margin-bottom: -5px;
}

.breadcrumbs ul li:nth-child(2) {
  margin-right: 18px;
}

.breadcrumbs ul li:last-child  {
  margin-left: 23px;
}

.sub_header {
  background: #f2f6f8;
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.filter_panel {
  display: flex;
}

.filter_panel_left {
  background: #f7f3ec;
  font-size: 15px;
  margin-top: 0px;
  margin-right: 18px;
  padding-top: 7px;
  padding-right: 153px;
  padding-bottom: 7px;
  padding-left: 20px;
  text-transform: uppercase;
}

.filter_panel_right {
  background: #f7f3ec;
  display: flex;
}

.filter_panel_right span {
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  margin-right: 143px;
  padding-left: 20px;
}

.right_filter_link {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-right: 70px;
}

.right_filter_icons {
  width: 71px;
  margin-left: -40px;
  display: flex;
  justify-content: space-around;
}

.right_filter_up {
  width: 15px;
}

.right_filter_down {
  margin-right: 5px;
  width: 15px;
}

.filter_layout {
  display: flex;
}

.filter_window {
  text-transform: uppercase;
  padding-top: 10px;
  display: flex;
  flex-flow: column;
}

.filter_window h3:first-child {
  margin-top: 5px;
}

.price_filter {
  width: 220px;
  height: 127px;
  margin-top: -5px;
}

.checkbox_header {
  font-size: 19.5px;
  margin-top: 45px;
  margin-bottom: 15px;
}

label {
  padding-left: 10px;
}

.checkbox {
  padding: 10px;
  margin-bottom: 22px;
}

.radio_header {
  font-size: 20.5px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.radio_cell {
  font-size: 16px;
  margin-bottom: 15px;
}

.apply_filter_btn {
  font-size: 12px;
  text-transform: uppercase;
  width: 140px;
  height: 38px;
  margin-top: 63px;
}

.shop_window {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
}

.hover_menu {
  display: none;
}

.catalog_product {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 318px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog_product .price_n_buy s {
  margin-top: 10px;
}

.catalog_product .price_n_buy .buy_btn {
  margin-top: -5px;
}

.catalog_product .price_n_buy_spec {
  margin-top: 7px;
}

.catalog_product:nth-child(3n+3) {
  margin-right: 0px;
}

.pagination {
  margin-top: 30px;
}

.pagination ul {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 198px;
}

.pagination ul li a {
  font-size: 16px;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  text-align: center;
  line-height: 40px
}

.next_page_btn {
  text-transform: uppercase;
  padding-left: 33px;
  padding-right: 70px;
}

.catalog_top {
  padding-top: 10px;
  padding-bottom: 40px;
}

.about_item_header {
  margin-top: 0px;
  padding-top: 73px;
  font-size: 29px;
}

.about_item_text {
  font-size: 14.5px;
  margin-top: 30px;
}

.catalog_bottom {
  background: #f2f6f8;
  padding-bottom: 55px;
}






/*
.home_link {
  width: 15px;
  height: 15px;
  margin-right: -70px;
}




.footer_navigation {
  width: 570px;
  height: 100px;
  margin-top: 30px;
  margin-right: auto;
}

.footer_bottom {
  height: 108px;
  display: flex;
}

.footer_copyright {
  margin-left: 110px;
  width: 250px;
  padding-left: 10px;
  margin-right: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 90px;
}

.feedback {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-right: 20px;
}

.made_by {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}

 */
