body {
    font-size: 17px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    color: black;
    line-height: 24px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
}

h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
}

span {
  display: inline-block;
  margin-top: 5px;
  padding-left: 15px;
}

li {
    display: inline;
}

a {
text-decoration: none;
color: inherit;
}

.container {
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.header_layout {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.to_start_page_header {
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 9px;
  padding-left: 55px;
}

.search {
  width: 270px;
    /* сделал здесь фиксированную ширину, потому что форма поиска не доделана и когда я ее изменю все поедет */
  box-sizing: border-box;
  padding: 0 10px;
}

.bookmark {
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 30px;
}

.cart {
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 32px;
}

.cart_filled {
  color: white;
  padding-left: 44px;
  padding-top: 9px;
  padding-right: 27px;
}

.checkout_link {
  color: white;
  padding-left: 19px;
  padding-top: 9px;
  padding-right: 22px;
}

.shop_description {
  font-size: 16px;
  font-style: italic;
  color:  #ee3643;
  padding-top: 30px;
  padding-left: 53px;
  padding-right: 70px;
}

.contact {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 66px;
}

.telefon {
  display: block;
  color:  #ee3643;
  margin-top: 50px;
  margin-left: 50px;
    /* здесь margin вместо padding'a чтобы ссылка с телефоном занимала только свое пространство */
  font-size: 21px;
}

.user_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 21px;
}

.user_block_active {
  display: flex;
  flex-wrap: wrap;
  width: 294px;
  font-size: 21px;
}

.name {
  padding-top: 35px;
  padding-left: 45px;
  margin-bottom: 0px;
}

.my_orders {
  font-size: 16px;
  padding-left: 15px;
  text-decoration: underline;
}

.personal {
  font-size: 16px;
  padding-left: 33px;
  text-decoration: underline;
}

.login {
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-right: 10px;
  margin-left: 14px;
}

.registration {
  padding-top: 5px;
  padding-right: 23px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.main_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 23px;
  color: white;
}

.main_navigation ul li {
  padding-top: 5px;
  padding-right: 47px;
  padding-bottom: 10px;
  padding-left: 12px;
}

.main_navigation ul li:nth-child(4) {
  padding-left: 3px;
}

.main_navigation ul li:last-child {
  padding-right: 52px;
}

.footer_layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_left {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
}

.to_start_page_footer {
  display: inline-block;
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  padding-top: 20px;
  padding-right: 43px;
  padding-bottom: 17px;
  padding-left: 40px;
}

.footer_contacts {
  white-space: nowrap;
  font-size: 18px;
  padding-top: 18px;
  padding-right: 20px;
  padding-left: 5px;
  color: white;
}

.footer_contacts p {
  margin-bottom: 0px;
}

.footer_copyright {
  font-size: 16px;
  margin-top: 70px;
  color: white;
}

.footer_copyright p {
  margin-bottom: -30px;
}

.footer_right {
  background-color: teal;
  display: flex;
  flex-wrap: wrap;
}

.footer_navigation_1 {
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
  background-color: red;
  display: flex;
  color: white;
}

.footer_navigation_1 ul li {
  padding-right: 54.5px;
}

.footer_navigation_2 {
  font-size: 18px;
  width: 522px;
  margin-top: 18px;
  margin-left: 75px;
  background-color: red;
  display: flex;
  justify-content: space-between;
  color: yellow;
}

.footer_social {
  margin-left: 120px;
  margin-top: 120px;
  margin-right: 120px;
}

.social_btn {
  width: 40px;
  height: 40px;
}

.feedback {
  font-size: 15px;
  margin-top: 108px;
  margin-right: 58px;
  color: white;
}

.feedback a {
  display: block;
  margin-top: -5px;
}


.made_by {
  font-size: 15px;
  margin-top: 108px;
  color: white;
}

.made_by  a {
  display: block;
  margin-top: -5px;
}

/* index.html  */

.main_top {
  padding-bottom: 85px;
}

.banners {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* По поводу баннеров - это самое близкое к макету, что мог сверстать. В этом положении чуть что трогаешь и все едет. */

.banner {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  height: 123px;
  width: 300px;
  background-color: grey;
  margin-bottom: 20px;
  padding-bottom: 25px;
  padding-left: 23px;
  box-sizing: border-box;
}

.banner h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.banner_link {
  font-size: 13px;
  background-color: gold;
  margin-left: 10px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-left: 20px;
  text-align: 30px;
  text-transform: uppercase;
}

.banner:nth-child(2), .banner:nth-child(3), .banner:nth-child(5) {
  margin-left: 20px;
}

.slider {
  height: 266px;
  width: 620px;
  background-color: green;
}

.slider_item {
  visibility: hidden;
}

.banner:nth-child(6) {
  margin-top: -123px;
}

.banner:nth-child(1), .banner:nth-child(2), .banner:nth-child(3) {
  margin-top: 61px;
}

.products_start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: 33px;
  margin-bottom: 14px;
}

.popular_products_title {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 29px;
  padding-bottom: 15px;
}

.popular_products_link {
  font-size: 14px;
  margin-right: 25px;
  margin-left: auto;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-right: 55px;
  padding-left: 55px;
}

.popular_products {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 20px;
}

.product {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 318px;
  width: 220px;
}

.to_product_picture {
  margin-top: 9px;
}

.to_product_title {
  font-size: 21px;
  line-height: 0;
}

.to_product_title span {
  font-size: 20px;
  padding-left: 42px;
}

.price_n_buy {
  font-size: 20px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
}

.price_n_buy s {
  margin-bottom: 11px;
}

.price_n_buy_spec {
  font-size: 20px;
  padding-top: 40px;
}

.buy_btn {
  padding-top: 8px;
  padding-right: 35px;
  padding-bottom: 3px;
  padding-left: 35px;
}

.manufacture_start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  margin-top: 20px;
  margin-bottom: 14px;
}

.manufacture_title {
  font-size: 28px;
  text-transform: uppercase;
  padding-top: 13px;
  padding-left: 27px;
  padding-bottom: 15px;
}

.manufacture_link {
  font-size: 14px;
  margin-right: 25px;
  margin-left: auto;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-top: 7px;
  padding-right: 69px;
  padding-left: 55px;
}

.manufacture {
  display: flex;
  flex-wrap: wrap;
  height: 310px;
  width: 940px;
  flex-shrink: 0;
}

.to_manufacture {
  height: 145px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to_manufacture:nth-child(4), .to_manufacture:nth-child(8) {
  margin-right: 0px;
}

.main_middle {
  padding-top: 10px;
  padding-bottom: 100px;
}

.services {
  padding-top: 40px;
}

.services_title  {
  margin-bottom: 30px;
}

.services_description {
  font-size: 15px;
  padding-right: 520px;
}

.tabs {
  display: flex;
  justify-content: flex-start;
}

.service_icon {
  display: none
}

.tab_right {
  display: none
}

.tab_list_left {
  background-color: teal;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-top: 53px;
}

.tab_left {
   font-size: 22px;
   padding-top: 15px;
   padding-right: 140px;
   padding-bottom: 17px;
   padding-left: 7px;
}

.tab_list_right {
  display: flex;
}

.active_tab_right {
  padding-left: 80px;
  padding-top: 32px;
  display: block;
}

.tab_right h2 {
  font-size: 34px;
  margin-bottom: 35px;
}

.tab_right p {
  font-size: 14.5px;
  padding-right: 280px;
}

.main_bottom {
  padding-top: 10px;
  padding-bottom: 90px;
}

.about_us {
  display: flex;
}

.about_us_left {
  display: flex;
  flex-flow: column;
  padding-top: 47px;
  padding-right: 100px;
}

.about_us_left h3 {
  text-transform: uppercase;
  font-size: 28.5px;
  margin-bottom: 15px;
}

.about_us_left p {
  font-size: 14.5px;
  margin-bottom: 1px;
}

.about_us_left span {
  font-size: 14.5px;
  padding-left: 0px;
  padding-top: 15px;
  margin-bottom: -15px;
}

.delivery_partners {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}

.delivery_partners li {
  padding-top: 15px;
}

.about_us_link {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 25px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.about_us_right {
  padding-top: 45px;
  padding-left: 33px;
  display: flex;
  flex-flow: column;
}

.about_us_right h3 {
  text-transform: uppercase;
  font-size: 28.5px;
  margin-bottom: 15px;
}

.about_us_right p {
  font-size: 14.5px;
  margin-bottom: 1px;
}

.map {
  padding-top: 30px;
}

.are_u_lost_link {
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 35px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-left: 63px;
}

/* catalog.html */

.breadcrumbs ul {
  display: flex;
  justify-content: space-between;
  width: 320px;
  text-transform: uppercase;
  font-size: 15.5px;
  margin-top: 12px;
  margin-bottom: -5px;
}

.breadcrumbs ul li:nth-child(2) {
  margin-right: 18px;
}

.breadcrumbs ul li:last-child  {
  margin-left: 23px;
}

.sub_header {
  padding-top: 30px;
  padding-bottom: 35px;
  padding-left: 30px;
}

.filter_panel {
  display: flex;
}

.filter_panel_left {
  font-size: 15px;
  margin-top: 0px;
  margin-right: 18px;
  padding-top: 7px;
  padding-right: 153px;
  padding-bottom: 7px;
  padding-left: 20px;
  text-transform: uppercase;
}

.filter_panel_right {
  display: flex;
}

.filter_panel_right span {
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  margin-right: 143px;
  padding-left: 20px;
}

.right_filter_link {
  font-size: 16px;
  text-transform: uppercase;
  padding-top: 7px;
  padding-right: 70px;
}

.right_filter_icons {
  width: 71px;
  margin-left: -40px;
  display: flex;
  justify-content: space-around;
}

.right_filter_up {
  width: 15px;
}

.right_filter_down {
  margin-right: 5px;
  width: 15px;
}

.filter_layout {
  display: flex;
}

.filter_window {
  text-transform: uppercase;
  padding-top: 10px;
  display: flex;
  flex-flow: column;
}

.filter_window h3:first-child {
  margin-top: 5px;
}

.price_filter {
  width: 220px;
  height: 127px;
  margin-top: -5px;
}

.checkbox_header {
  font-size: 19.5px;
  margin-top: 45px;
  margin-bottom: 15px;
}

label {
  padding-left: 10px;
}

.checkbox {
  padding: 10px;
  margin-bottom: 22px;
}

.radio_header {
  font-size: 20.5px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.radio_cell {
  font-size: 16px;
  margin-bottom: 15px;
}

.apply_filter_btn {
  font-size: 12px;
  text-transform: uppercase;
  width: 140px;
  height: 38px;
  margin-top: 63px;
}

.shop_window {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-left: 20px;
}

.hover_menu {
  display: none;
}

.catalog_product {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 318px;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog_product .price_n_buy s {
  margin-top: 10px;
}

.catalog_product .price_n_buy .buy_btn {
  margin-top: -5px;
}

.catalog_product .price_n_buy_spec {
  margin-top: 7px;
}

.catalog_product:nth-child(3n+3) {
  margin-right: 0px;
}

.pagination {
  margin-top: 30px;
}

.pagination ul {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 198px;
}

.pagination ul li a {
  font-size: 16px;
  display: block;
  width: 38px;
  height: 38px;
  margin-right: 10px;
  text-align: center;
  line-height: 40px
}

.next_page_btn {
  text-transform: uppercase;
  padding-left: 33px;
  padding-right: 70px;
}

.catalog_top {
  padding-top: 10px;
  padding-bottom: 40px;
}

.about_item_header {
  margin-top: 0px;
  padding-top: 73px;
  font-size: 29px;
}

.about_item_text {
  font-size: 14.5px;
  margin-top: 30px;
}

.catalog_bottom {
  padding-bottom: 55px;
}






/*
.home_link {
  width: 15px;
  height: 15px;
  margin-right: -70px;
}




.footer_navigation {
  width: 570px;
  height: 100px;
  margin-top: 30px;
  margin-right: auto;
}

.footer_bottom {
  height: 108px;
  display: flex;
}

.footer_copyright {
  margin-left: 110px;
  width: 250px;
  padding-left: 10px;
  margin-right: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  margin-right: 90px;
}

.feedback {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  margin-right: 20px;
}

.made_by {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}

 */



/*=======================
 Временное подсвечивание
=========================*/

body {
 padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
 position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
 display: none;
}

body > *::before {
 top: -3px;
 left: -3px;
}

body > * > *::before {
 top: -3px;
 left: -3px;
}

body > * > * > *::before {
 top: 0;
 left: 0;
}

body > * {
 background: rgba(0, 128, 0, 0.2);
 box-shadow: 0 0 0 3px green;
}

body > *::before {
 color: white;

 background: green;
}

body > * > * {
 background: rgba(255, 45, 82, 0.2);
 box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
 color: white;

 background: rgb(255, 45, 82);
}

body > * > * > * {
 background: rgba(234, 255, 45, 0.2);
 box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
 color: black;

 background: rgb(234, 255, 45);
}

.main_header::before {
 content: ".main-header";
}

.container::before {
 content: ".container";
}

.main_header .container::before {
 top: auto;
 bottom: -28px;
}

.main_navigation::before {
 content: ".main-navigation";
}

.user_block::before {
 content: ".user-block";
}

.index_logo::before {
 content: ".index-logo";
}

.features::before {
 content: ".features";
 top: -28px;
}

.features_item::before {
 content: ".features-item";
}

.index_content::before {
 content: ".index-content";
}

.index_content_left::before {
 content: ".index-content-left";
 left: auto;
 right: 0;
}

.index_content_right::before {
 content: ".index-content-right";
 left: auto;
 right: 0;
}

.main_footer::before {
 content: ".main_footer";
}

.main_footer .container::before {
 top: -28px;
}

.footer_contacts::before {

}

.footer_social::before {

}

.footer_copyright::before {

}
